# Dependencies
node_modules/
.pnpm-store/

# Build outputs
.next/
dist/
build/
out/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / OS
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json

# Testing
coverage/

# Turbo / cache
.turbo/

# TypeScript
*.tsbuildinfo

# Next.js (generated)
next-env.d.ts
